 header{
    background-color: #b588e7}

#sidebar{
    background-color: #e3b957;
}

#widget{
    background-color: #eb867c;
}

#Statistics{
    background-color: #91b7e8;
}

footer{
    background-color: #b588e7}

main{
    background-color: #a7dc8a;
}